@import "tailwindcss";

:root {
  --background: #0F172A;
  --foreground: #f8fafc;
}

body {
  background: #0F172A;
  color: #f8fafc;
  font-family: Inter, system-ui, -apple-system, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
